@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 43, 43);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0.5rem;
}

button {
    background-color: rgb(100, 17, 177);
    color: #fff;
    width: 150px;
    height: auto;
    padding: 8px;
    margin-top: 8px;
    box-shadow: -2px 2px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
    border-radius: 16px;

    transition: background-color 0.4s;
}

button:hover {
    background-color: rgb(140, 100, 170);
}

input {
    border: none;
    border-radius: 16px;
    width: 200px;
    height: 2vh;
    text-align: center;
}

p {
    padding: 0 5rem 0 5rem;
    color: #fff;
}

h1 {
    color: #fff;
}